@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom brand colors */
  --color-brand-blue: #0e75dd;
  --color-brand-danger: #eb3f47;
  --color-brand-success: #70be44;
  --color-brand-warning: #f68d38;
  --color-brand-primary-dark-gray: #1e2127;
  --color-brand-primary-gray: #6d7584;
  --color-brand-primary-light-gray: #979eab;
  --color-dark-gray: #5c7288;
  --color-bg-blue-50: #e6f1fd;
  --color-bg-gray-90: #f7f8fa;
  --color-gray-lighter: #d8dde3;
  --color-border-color: #dbe0ea;
  --color-time-blocked: #a1000c;
  --color-time-dns: #dcc9e5;
  --color-time-ssl: #e78057;
  --color-time-connect: #db8553;
  --color-time-send: #3c96c4;
  --color-time-wait: #7ca0bf;
  --color-time-receive: #65b955;
  --color-time-queueing: #ccc;
  --color-white-0: #000;
  --color-white-100: #fff;
  --color-white-33: #555;
  --color-white-39: #646464;
  --color-white-50: #808080;
  --color-white-80: #ccc;
  --color-white-90: #e6e6e6;

  /* Custom font sizes */
  --font-size-base: 14px;
  --font-size-bigger: 16px;
  --font-size-huge: 42px;
  --font-size-large: 18px;
  --font-size-small: 12px;
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: 14px;
  --font-size-h6: 12px;

  /* Custom border radius */
  --radius-base: 4px;

  /* Custom spacing */
  --spacing-xs: 4px;
  --spacing-xs-s: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xl: 28px;
  --spacing-xxl: 36px;
  --spacing-xxxl: 44px;

  /* Custom breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-grid-sm: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;

  /* Custom animations */
  --animate-spin-slow: spin 1.4s infinite linear;
}
